<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.length <=0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul>
                            <% orders.forEach(order=> { %>
                                <li>
                                    <h1>Order #<%= order.id %>:</h1>
                                    <% order.products.forEach((item, index)=> { %>
                                        <ul>
                                            <li>
                                                Product #<%=(index+1)%>
                                                    <ul>
                                                        <li><b>Title:</b> ~ <%= item.title %>
                                                        </li>
                                                        <li><b>Quantity:</b> ( <%= item.orderItem.quantity %> ) </li>
                                                    </ul>
                                            </li>
                                        </ul>
                                </li>
                                <% }); %>
                                    </li>
                                    <% }); %>
                        </ul>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>